@model cms.Models.Student
@*@model cms.Models.Student*@
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>CMS</title>
  
  
  
      <link rel="stylesheet" href="~/Content/style.css">
    <script type="text/javascript" src="~/Scripts/jq.js"></Script>
    @*<script type="text/javascript">
        function()
        {
            var status= '@ViewBag.Status';
            is(status)
            {
                alert("success");
            }
            else
            {
                alert("error");
            }
        }
    </script>*@

  
</head>

<body style=" background:url(../Images/b.jpg) no-repeat ;  ">
  
    @*@using (Html.BeginForm()) {
  
    <fieldset>
        <legend>Student</legend>



        <div class="editor-label">
            @Html.LabelFor(model => model.Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id)
            @Html.ValidationMessageFor(model => model.Id)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fname)
            @Html.ValidationMessageFor(model => model.fname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cnic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cnic)
            @Html.ValidationMessageFor(model => model.cnic)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.cnic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cnic)
            @Html.ValidationMessageFor(model => model.cnic)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.phoneNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phoneNo)
            @Html.ValidationMessageFor(model => model.phoneNo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}*@
    
<form method="post" action="~/StudentSignUp/Index">
  <header style=" background:#b200ff;">SignUp</header>
    @Html.Label("ID")
  
  
  <input name="Id" id="em1" @*placeholder="id"*@  maxlength="20" required/>

     <div id="result1"></div>
     
                <script>


                    $(document).ready(function () {



                        $('#em1').focusout(function () {

                            var email1 = $('#em1').val();
                            $.getJSON("/StudentSignUp/CheckId?Id=" + email1, function (data) {
                                if (data) {
                                    $('#result1').text("Id already exists in database");
                                    $('#SubBtn').hide();


                                }
                                else {
                                    $('#result1').text("Correct Id. Id does not exists in database");
                                    $('#SubBtn').show();


                                }
                            });

                        });

                    });

                </script>

  @*@Html.Label("Student Name")
  
  <input name="name" placeholder="Name"  maxlength="40" required/>*@
  <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

   @* @Html.Label("Father Name")
  
   
  <input name="fname" placeholder="fname"  maxlength="40" required/>*@

     <div class="editor-label">
            @Html.LabelFor(model => model.fname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fname)
            @Html.ValidationMessageFor(model => model.fname)
        </div>
   
    @Html.Label("CNIC")
  
  <input type="number" id="em" max="9999999999999"  min="1000000000000"   name="cnic"  @*placeholder="cnic"*@  required/>
    <div id="result"></div>
     
                <script>


                    $(document).ready(function () {



                        $('#em').focusout(function () {

                            var email = $('#em').val();
                            $.getJSON("/StudentSignUp/CheckEmail?Email=" + email, function (data) {
                                if (data) {
                                    $('#result').text("CNIC already exists in database");
                                    $('#SubBtn').hide();


                                }
                                else {
                                    $('#result').text("Correct CNIC. CNIC does not exists in database");
                                    $('#SubBtn').show();


                                }
                            });

                        });

                    });

                </script>
    @Html.Label("Email")
  
  <input type="email"id="email" name="email" @*placeholder="email"*@  maxlength="40" required/>
     <div id="result2"></div>
     
                <script>


                    $(document).ready(function () {



                        $('#email').focusout(function () {

                            var email = $('#email').val();
                            $.getJSON("/StudentSignUp/CheckEmail2?Email2=" + email, function (data) {
                                if (data) {
                                    $('#result2').text("Email already exists in database");
                                    $('#SubBtn').hide();


                                }
                                else {
                                    $('#result2').text("Correct Email. Email does not exists in database");
                                    $('#SubBtn').show();


                                }
                            });

                        });

                    });

                </script>

   @* @Html.Label("Address")
  
  <input name="address" placeholder="address"  maxlength="40" required/>*@

    <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>
   
  @*  @Html.Label("Phone No")
  
  <input type="number" max="99999999999999999999"  min="100000000" name="phoneNo" placeholder="phoneNo"  required/>
  *@
     <div class="editor-label">
            @Html.LabelFor(model => model.phoneNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phoneNo)
            @Html.ValidationMessageFor(model => model.phoneNo)
        </div>
    <button style=" background:#b200ff;">SignUp</button>
</form>
  
  
</body>
    @{
        string s =(string)Session["std"];
    }
    
    @if(s == "true")
    {
    <script  type='text/javascript'>
        alert('Invalid Entry.Student ID or CNIC or Email is already exist.');
       
    </script>
        Session["std"] = "false";
    }
</html>
